.alert {
    padding: 1em;
    border-radius: 1em;
}

.info {
    background-color: #cce5ff;
    color: #0056b8;
}

.warning {
    background-color: #fff3cd;
    color: #a56404;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}